@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.fa-fa-bars{
  border: 1px solid gray;
  border-radius: 5px;


}



.fa-arrow-right{
  border: 1px solid gray;
  border-radius: 5px;
  

}

body {
  font-family: "Work Sans", serif;
  
}

/* header styling */

header img{
  padding-left: 5%;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
 
}

#menu-icon {
  display: none;
}

#cancel-icon {
  display: none;
}

#nav-ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  
  

}

.nav-link a {
  text-decoration: none;
  font-size: 11px;
  color: black;
}

.nav-link a:visited {
  color: black;
}

.nav-link a:hover {
  color: #00c853;
  border-bottom: 1.5px solid #00c853;
}

#c-button {
  background-color: rgb(4, 50, 3);
  border: none;
  color: white;
  padding: 7px 14px;
  border-radius: 30px;
}

#c-button:hover {
  background-color: #00c853;
}

#sec1{
  padding-top: 190px;
  padding-bottom: 180px;
  text-align: center;
  background: linear-gradient(rgba(4,50,3,0.75), rgba(4,50,3,0.75)),
  url(../assets/images/aboutGroup.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100px;
}



#sec1-con {
  justify-content: center;
  width: 90%;
  height: 300%;
  margin-top: -5%;
  color: white;   
}

#sec1-con h3{
  font-size: 4em;
}

#sec1-con p{
  font-size: 1.1em;
  
  line-height: 30px;
  
}


#btn1 {
  background-color: white;
  border-radius: 30px;
  padding: 14px 34px;
  border: none;
  width: 20%;
  
  
}

#btn1 a{
  color: green;
}

#btn1 a:hover{
  color: white;
}




.button{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 1.2%;
  gap: 2em; 
  /* width: 100%; */

}



.btn a{
  text-decoration: none;
  color: white;
}

#btn2 {
  background-color: inherit;
  color: white;
  border-radius: 30px;
  padding: 14px 34px;
  border: 2px solid white;
  
  width: 20%;
}


.btn:hover {
  cursor: pointer;
  background-color: #00c853 !important;
  color: white;
}

#sec2{
 width: 93%;
 justify-content: center;
 padding: 45px 15px;
}

#sec2-con{
width: 100%;
display: flex; 
margin-left: 2%;
justify-content: center;
justify-content: space-between;

}

.left{
  width: 100%; 

}

.left img{
  width: 90%;
}




.right{
  width: 100%;
  padding-top: 60px;
  

  
  /* line-height: 30px; */
  
}
.right h5{
  font-size: 2em;
  padding-bottom: 5px;
}

.right p{
  line-height: 1.5em;
  font-size: 1rem;
}

#sec3{
  width: 100%;
  background-color: green;
  padding-top: 150px;
  color: white;
  text-align: center;
  
  
}
.sec3-top{
  padding-bottom: 20px;
}
#sec3 h6{
  font-size: 3em;
  padding-top: 2%;
  padding-bottom: 2%;

}
#sec3 p{
  /* text-align-last:justify ; */
  font-size: 1rem;
  padding-bottom: 5%;

}

/* Footer Section*/
#footer-sec7{
  width: 100%;
  background-color: rgb(2, 31, 1);
  color: white;
  padding-bottom: 90px;
  line-height: 2em;
  
  
}

#sec7-con{
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  margin-left: 3%;
  justify-content: space-around;
}

#sec7-con a{
  text-decoration: none;
  color: white;
}

#sec7-con ul{
  list-style-type: none;
}

.footer-h{
  font-size: 1.3em;
  font-weight: bold;
}
.copywrite{
  text-align: center;
  color: rgb(161, 157, 157);
  font-size: 1.2em; 

}

/* responsive design  */

@media (max-width:1100){
  header{
    position: fixed;
   
   }
  
    #menu-icon,
    #cancel-icon {
      display: block;
      cursor: pointer;
    }
  
    #cancel-icon {
      position: absolute;
      right: 15px;
      top: 10px;
      font-weight: lighter;
    }
  
    nav {
      background-color: white;
      width: 85%;
      position: absolute;
      right: 0;
      left: 0;
      top: 70px;
      margin: auto;
      border-radius: 15px;
      padding: 20px;
      display: block;
    }
  
    #nav-ul {
      gap: 30px;
      flex-direction: column;
      text-align: center;
     }
 
     #sec1-con{
       width: 98%;
       margin-top: 3%;
       margin-left: auto;
       margin-right: auto;
     }
 
     
   
     #sec1 h3{
       text-align: left;
       margin-top: 2px;
       font-size: 1.5em;
     }
 
     #sec1 p{
       text-align: left; 
       font-size: 0.7em;
       line-height: 2em;
       margin-top: 2px;
       width: 100%;
 
 
     }
 
        
     #btn1, #btn2{
       width: 35%;
     }
     
     
     
     
     .button{
       flex-flow: column wrap;
       align-items: center;
       justify-content: center;
       margin-left: 2%;
       margin-top: 4%;
       gap: 0.7em;
       
     
     }
 
 
     #sec2-con{
       width: 100%;
       flex-flow: column wrap;
     }
 
     #sec2-con{
       width: 100%;
     }
 
 
     .right p{
      
       font-size: 1rem;
       line-height: 90%;
     }
 
 
     #sec3 img{
       width: 50%;
       margin-left: -15%;
     }
     
 
     .sec3-top{
       
       margin-top: -63px;
     }
 
     #sec3 h6{
       text-align: left;
       font-size: 2rem;
       margin-left: 5%;
     }
     #sec3 p{
       text-align: left;
       margin-left: 5%;
       font-size: 0.8rem;
     }
 
     #sec7-con{
       flex-flow: column wrap;
       line-height: 30px;
     }
 
}


@media (max-width: 800px) {
  header{
   position: fixed;
  width: 100%;
  }
 
   #menu-icon,
   #cancel-icon {
     display: block;
     cursor: pointer;
   }
 
   #cancel-icon {
     position: absolute;
     right: 15px;
     top: 10px;
     font-weight: lighter;
   }
 
   nav {
     background-color: white;
     width: 85%;
     position: absolute;
     right: 0;
     left: 0;
     top: 70px;
     margin: auto;
     border-radius: 15px;
     padding: 20px;
     display: none;
   }
 
   #nav-ul {
     gap: 30px;
     flex-direction: column;
     text-align: center;
    }

    #sec1-con{
      width: 98%;
      margin-top: 3%;
      justify-content: center;
      
      /* margin-left: auto;
      margin-right: auto; */
    }

    
  
    #sec1 h3{
      text-align: left;
      margin-top: 2px;
      font-size: 1.5em;
  
    }

    #sec1 p{
      text-align: left; 
      font-size: 0.7em;
      line-height: 2em;
      margin-top: 2px;
      width: 100%;
      


    }

       
    #btn1, #btn2{
      width: 35%;
    }
    
    
    
    
    .button{
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      margin-left: 2%;
      margin-top: 4%;
      gap: 0.7em;
      
    
    }


    #sec2-con{
      width: 100%;
      flex-flow: column wrap;
    }

    #sec2-con{
      width: 80%;
      
    }


    .right p{
     
      font-size: 1rem;
      line-height: 90%;
      
    }

    

    #sec3 img{
      width: 50%;
      margin-left: -15%;
    }
    

    .sec3-top{
      
      margin-top: -63px;
    }

    #sec3 h6{
      text-align: left;
      font-size: 2rem;
      margin-left: 5%;
    }
    #sec3 p{
      text-align: left;
      margin-left: 5%;
      font-size: 0.8rem;
    }

    #sec7-con{
      flex-flow: column wrap;
      line-height: 30px;
    }

    .oL{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* z-index: 5; */

}

    
  }








