@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.fa-fa-bars{border: 1px solid gray;
  border-radius: 5px;


}

.fa-arrow-right{
  border: 1px solid gray;
  border-radius: 5px;

}

body {
  font-family: "Work Sans", serif;
}

/* header styling */

header img{
  padding-left: 5%;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
 
}

#menu-icon {
  display: none;
}

#cancel-icon {
  display: none;
}

#nav-ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  

}

.nav-link a {
  text-decoration: none;
  font-size: 11px;
  color: black;
}

.nav-link a:visited {
  color: black;
}

.nav-link a:hover {
  color: #00c853;
  border-bottom: 1.5px solid #00c853;
}

#c-button {
  background-color: rgb(4, 50, 3);
  border: none;
  color: white;
  padding: 7px 14px;
  border-radius: 30px;
}

#c-button:hover {
  background-color: #00c853;
}

/* hero section */
#hero-section {
  width: 100%;
  background-color: rgb(4, 50, 3);
  padding-top: 100px;
  padding-bottom: 30px;
}

#hero-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

h2{
  font-size: 3.5em;
}

#hero-para{
  font-size: 2rem;
}

.left {
  width: 58%;
}

.right {
  width: 40%;
}

.right img {
  object-fit: contain;
  width: 100%;
}

.left h2 {
  color: white;
  font-size: 35px;
  line-height: 45px;
}

#hero-para {
  color: white;
  font-size: 13px;
  margin-top: 20px;
  line-height: 1.5;
}

#hero-btns {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

#hero-btn1 {
  background-color: white;
  border-radius: 30px;
  padding: 14px 22px;
  border: none;
}

#hero-btn2 {
  background-color: inherit;
  color: white;
  border-radius: 30px;
  padding: 14px 22px;
  border: 2px solid white;
}

.hero-btn:hover {
  cursor: pointer;
  background-color: #00c853 !important;
  color: white;
}

/* section - Explore Portfolio */
#section-two {
  background-color: #e0ffdf;
  padding-top: 40px;
  padding-bottom: 40px;
}

#explore {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#explore-text p {
  margin-top: 6px;
}

#explore-button {
  background-color: rgb(4, 50, 3);
  color: white;
  border-radius: 30px;
  padding: 12px 24px;
  border: none;
}

/* explore 2 */
#explore-2 {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.explore-2 {
  width: 32%;
  padding-bottom: 30px;
  border-radius: 7px;
  background-color: white;
}

#explore-2-top {
  width: 100%;
  position: relative;
}

#e-icon1 {
  position: absolute;
  left: 15px;
  top: 10px;
  border: 6px solid #e0ffdf;
  border-radius: 50%;
  padding: 5px;
  width: 15px;
  height: 15px;
}

#e-icon2 {
  position: absolute;
  right: 0px;
  width: 90px;
}

#explore-2-bottom {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 10px;
  padding-right: 2px;
}

.e-p1 {
  font-size: 30px;
  font-weight: 600;
  color: rgb(4, 50, 3);
}

.e-p2 {
  font-size: 10px;
}

/* Section 3 */
#hero-sec3{
  width: 99.8%;
  height: auto;
  background-color: white;
  margin-top: 70px;
  padding-bottom: 60px;
  /* margin-right: 0;
  margin-left: 10%; */
  

}

.sec-Text3{
  text-align: center;
  padding-top: 60px;
}

.sec-Text3 h1{
  font-size: 2.3em;
}

.sec-Text3 p{
  font-size: large;
  color: gray;
  padding-top: 14px;
}

.sec3-img{
  display: flex;
  margin: 30px;
  gap: 39px;
  justify-content: center;
    
}

/* Section 4*/

#hero-sec4{
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding-bottom: 30px;        
  background: #00c821;

  
}

.hero-con4{
  width: 99.8%;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;


}

.sec4-left{
  width: 57%;
  
  text-align: left;
  color: white;
  margin-right: auto;
  margin-left: auto;
  
}

.sec4-left h1{
  font-size: 3em;
  margin-left: 3%;
  padding-top: 2%;
  
}

.sec4-left p{
  font-size: 23px;
  padding-top: 7%;
  line-height: 25px;
  margin-left: 30px;
  letter-spacing: 1px;
  
}

.sec4-right{
  width: 35%;
  margin-right: auto;
  margin-left: auto;
}

.sec4-right img{
  object-fit: contain;
  width: 100%;
}

#portfolio-btn {
  background-color: white;
  color: green;
  border-radius: 30px;
  padding: 15px 35px;
  border: none;
  margin-left: 4%;
  margin-top: 9%;
  
  
}

/* Section 5*/

#sec-5{
  width: 100%;
  /* height: auto; */
  margin-top: -5px;
  padding-bottom: 40px;        
  background: rgb(204, 223, 225);
  
  
  padding-top: 70px;
}

#sec5-con{
  width: 95%;
  display: flex;
  
}

.sec5-left{
  width: 38%;
  margin-left: 13%;

}




.sec5-right{
  width: 45%;
 
  
}
.sec5-right h4{
  font-size: 2.5em;
  padding-top: 5%;
    

}

.sec5-right p{
  font-size: 1.3em;
  font-weight: 1px;
  padding-top: 5%;
  color: rgb(93, 91, 91);
}

.sec5-p a{
  text-decoration: none;
  color: #00c821;
}

/* Section-6*/
#sec-6{
  width: 100%;
  background-color: rgb(5, 79, 4);
  padding-top: 80px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

}

#sec6-con{
  width: 100%;
  display: flex;
  
}

.sec6-left{
display: flex;
margin: auto;
flex-flow: row nowrap;
gap: 10px;

  }

.sec6-left input{
  
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  
  
 
  }

.sub-btn{
  
  width: 40%;

  background-color: #b0f8bc;
  

  border-radius: 10px;
  
 
  /* padding-right: 6%; */
 
}


.sec6-right{
  width: 55%;
  color: white;
  padding-left: 80px;
  
}

.sec6-right h6{
  font-size: 2em;
  
}
.sec6-right p{
  padding-top: 10px;
  font-size: 1.1em;
}

/* Footer Section*/
#footer-sec7{
  width: 100%;
  background-color: rgb(2, 31, 1);
  color: white;
  padding-bottom: 90px;
  
  
}

#sec7-con{
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  margin-left: 3%;
  justify-content: space-around;
}

#sec7-con a{
  text-decoration: none;
  color: white;
}

#sec7-con ul{
  list-style-type: none;
}

.footer-h{
  font-size: 1.3em;
  font-weight: bold;
}
.copywrite{
  text-align: center;
  color: rgb(161, 157, 157);
  font-size: 1.2em;
  

}








/* responsive design starts here */
@media (max-width: 800px) {
 header{
  position: fixed;
 width: 100%;
 }

  #menu-icon,
  #cancel-icon {
    display: block;
    cursor: pointer;
  }

  #cancel-icon {
    position: absolute;
    right: 15px;
    top: 10px;
    font-weight: lighter;
  }

  nav {
    background-color: white;
    width: 85%;
    position: absolute;
    right: 0;
    left: 0;
    top: 70px;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    display: none;
  }

  #nav-ul {
    gap: 30px;
    flex-direction: column;
    text-align: center;
  }

  #hero-container {
    width: 90%;
    flex-flow: column nowrap;
    gap: 50px;
    /* border: 1px solid red; */
  }

  .left,
  .right {
    width: 100%;
  }
  
  .sec-Text3{
    text-align: left;
  }



  .sec-Text3 h1{
   font-size: 0.82em;  
  }  

  .sec-Text3 p{
    font-size: small;
  }
  

  #hero-sec3{
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: -1px;    
}

#hero-con3{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
} 

.logo{
  width: 55%;
  /* margin-right: auto;*/
  margin-left: -35px; 
  /* padding-left: 50px; */
  margin-top: -1px;
 
}


.hero-con4{
  width: 99.8%;
  flex-flow: column wrap;

}
.sec4-left{
  text-align: start;
  font-size: 1.8rem;
  margin-left: 2px;
  width: 100%;
  

}

.sec4-left h1{
  font-size: 1rem;
  font-weight: bold;
  margin-left: 7%;
  padding-top: 2%;
  
}

.sec4-left p{
 
  padding-top: 7%;   
 
  
}

.sec4-right{
  width: 100%;
}
 

.sec4-right img{
  object-fit: contain;
  width: 20rem;
 
  
}


#portfolio-btn {
  background-color: white;
  color: green;
  border-radius: 30px;
  padding: 15px 24px;
  border: none;
  margin-bottom: 10%;
}


#sec5-con{
  
  flex-flow: column wrap;
  
}

.sec5-right{
  width: 100%;
  /* font-size: 80%; */

  
  margin-left: 6%;
 
}


.sec5-left{
  width: 38%;
  margin-left: 10%;

}

#sec6-con{
  flex-flow: column wrap;
  /* display: block; */
}

.sec6-left{
  padding-top: 28px;
  margin-left: 30px;
  
}

.sec6-right{
  margin-left: -10%;
}


#sec7-con{
  flex-flow: column wrap;
  line-height: 30px;
}



.oL{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* z-index: 5; */

}
 
}






@media (max-width: 750px) {
  .right {
    width: 70%;
    margin: auto;
}

/* explore 2 */
#explore-2 { 
    flex-flow: column wrap;
    gap: 20px;
  }
  
  .explore-2 {
    width: 100%;
      }
   
  .e-p1 {
    font-size: 26px;
  }
  
  .e-p2 {
    font-size: 14px;
  }

  /* .hero-con4{
    width: 99.8%;
    flex-flow: column wrap;
  
  }
  
    
  
  
  .sec4-left h1{
    font-size: larger;
    font-weight: bold;
    margin-left: 7%;
    padding-top: 2%;
    
  }
  
  .sec4-left p{
    font-size: 0.8em;
    padding-top: 7%;
    /* line-height: 10px; */
    /* margin-left: 30px;
    letter-spacing: 1px;
     */
  /* }
  
  .sec4-right{
    width: 35%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .sec4-right img{
    object-fit: contain;
    width: 100%;
  }
  
  #portfolio-btn {
    background-color: white;
    color: green;
    border-radius: 30px;
    padding: 15px 24px;
    border: none;
    position: relative;
    bottom: 110px;
    left: 60px;
  } */
   





}

@media(max-width:400px){
  #explore{
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 20px;
  }
}

@media(max-width:300px){
  #hero-btns{
    gap: 12px;
    flex-flow: column wrap;
    align-items: center;
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width:200px){
.left h2{
  color: white;
  font-size: 30px;
  line-height: 35px;
} 
}